/* @import "react-alice-carousel/lib/alice-carousel.css"; */
h1{
    margin: auto;
    text-align: center;
}
.web{
    margin:10%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title11 span{
    color: orange;
}

.img15{
    width: 100%;
    height: 250px;
    text-align: center;
    margin: 0px;
    padding: 20px;
border-radius: 20px;
} 

.item19{
    background-color:rgba(255, 255, 255, 0.514);
}




.corusell{
    box-shadow: 5px 10px 8px #888888;
    text-align: center;
 
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.39);

}

/* .cardCorusel{
    width: 400px;
} */

.loremText{
    padding: 20px;
    
}
.aHref{
    text-decoration: none;
    font-size: 20px;
}



/* /////// */
.yandexMap1{
    margin-left: 100px;
    width: 600px;
    flex-wrap: wrap;
    display: flex;
    
}

.manzil{
    margin: 20px;
    display: flex;
    font-size: 30px;
}

.spanMap{
    color: red;
    display: flex;
    padding-right: 5px;
    margin-left: 50px;
}


.Button01{
    padding: 5px 40px;
    background-color: #fff;
    color: #888888;
    border: blue 1px solid;
}
.Button01:hover{
    background-color: blue;
    color: #fff;
}

#MapId{
    display: flex;
}
.listItem{
    list-style: none;
    display: flex;
}














 




