

body{
    overflow-x: hidden;}


/* navbar qismi */
.tel{
    z-index: 1011001;
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 50px;
    background-color:#2F2F2F;
    animation: animatsiya1 2s ease;
    animation-iteration-count: infinite;
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
}
.navbar{ position: fixed;
    left: 3%;
    top: 10px;
    width: 94%;
    background-color:rgba(255, 255, 255, 0.784);
    backdrop-filter: blur(20px);
    border-radius: 40px;
z-index: 121;
}
img{
    right: 0;
}


.navicon{
    font-size: 30px;
    width: 200px;
    display: flex;
  
}
.navicon>*{
    margin-left: 18px;
  color: #2F2F2F;
}
.navicon>* :hover{
    cursor: pointer;
    scale: 1.09;
color:#FAC819;
     

}
.brend{
    margin: 10px;
    margin-left: 10%;
    height: 50px;
}
@media (max-width:1200px){
    .brend{
        margin: 10px;
        margin-left: 10%;
        height: 60px;
      
    }
    .navicon a{
        font-size: 20px;
        width: 200px;
        display: flex;
      
    }
    #sahifa{
        margin: auto;
        text-align: center;
        font-size:15px;
        
    }  
}

#sahifa{
    margin: auto;
    text-align: center;
    font-size:20px;
    
}
#bolim{
    margin-left: 5px;
    color: #2F2F2F;
    
}
#bolim:hover{
    cursor: pointer;
    scale: 1.05;
    text-shadow: 0px 0px 10px  #FAC819;
}
@media (max-width:991px){

    #sahifa{
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        font-size:23px;
        
    }
    .navicon { 
    margin: auto;
    text-align: center;
    font-size: 30px;
    position: relative;
        left: 15px;
}
.navicon a{ 
    margin: auto;
    text-align: center;
    font-size: 30px;
    position: relative;
        left: 15px;
}
#bolim{
    margin-left: 0px;
    color: #2F2F2F;
    
}
}

@media (max-width:500px){
 
  
    #sahifa{
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        font-size:20px;
        
    }
    .navicon { 
    margin: auto;
    text-align: center;
    font-size: 20px;
    position: relative;
        left: 15px;
}
.navicon a{ 
    margin: auto;
    text-align: center;
    font-size: 20px;
    position: relative;
        left: 15px;
}
#bolim{
    margin-left: 0px;
    color: #2F2F2F;
    
}
.brend{
    height: 40px;
}
}








/* header qismi */
header{
background:#2F2F2F;  
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
box-shadow: 0px 30px 20px #FAC819;

}
#images{
    position: absolute;
    height: 600px;
    bottom: 100px;
    right: 100px;
    z-index: 2;
}
.satr{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
.satr ul {
    display: block;
    margin: auto;
    z-index: 12;
}
.myButton{
position: absolute;
left: 15%;
width: 70%;
bottom: 18%;
margin: auto;
text-align: center;
z-index: 234;
padding: 30px;
background: #9116F2BD;
box-shadow: 0px 4px 4px 0px #00000040;
box-shadow: 0px 4px 4px 0px #00000040 inset;
backdrop-filter: blur(4px);
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: -0.02em;
border-radius: 50px;
}
.myButton img{
    width: 45px;
    margin-left: 20px;
    margin-right: 20px;

}
.myButton:hover .down1{
    animation-name: headerbutton;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.myButton:hover .down2{
    animation-name: headerbutton2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.satr ul  h1{
    width: auto;
    display: flex;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 40px;
}
.satr ul li{
    margin: auto;
    font-size: 23px;
    font-weight: 700;
}
header .aylana{
    z-index: 1;
    position: absolute;
    right: -200px;
    top: -100px;
    width: 970px;
    height: 970px;
    filter: blur(25px);
    background: #FAC819;
    border-radius: 50%;
}

@media (max-width:1640px) {
    header{
        background:#2F2F2F;  
            width: 100vw;
            height: 100vh;
            position: relative;
            overflow: hidden;
        }
    header .aylana{
        z-index: 1;
        position: absolute;
        right: -200px;
        top: -100px;
        width: 970px;
        height: 970px;
        border-radius: 50%;
        background: #FAC819;
    } 
    .satr ul  h1{
        font-size: 1.5rem;
        font-weight: 700;
        z-index: 3;
    }
    .satr ul li{
        font-size: 20px;
    }
    #images{
        position: absolute;
        height: 550px;
      
    }
    .myButton{
        font-size: 20px; 
    padding: 20px; }
    .myButton img{
        width: 30px;
    }
}
@media (max-width:1340px) {
    header{
        background:#2F2F2F;  
            width: 100vw;
            height: 100vh;
            position: relative;
            overflow: hidden;
        }
    header .aylana{
        z-index: 1;
        position: absolute;
        right: -200px;
        top: -100px;
        width:970px;
        height: 970px;
        border-radius: 50%;
        background: #FAC819;

    } 
    .satr ul  h1{
        font-size: 1.5rem;
        font-weight: 700px;
        z-index: 3;
    }
 

    .satr{
   position: relative;
        width: 70%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
    }
    #images{
        position: absolute;
        height: 550px;
      
    }
}

@media (max-width:991px) {
    header{
        background:#2F2F2F;  
            width: 100vw;
            height: 100vh;
            position: relative;
            overflow: hidden;
        }
    header .aylana{
        z-index: 1;
        position: absolute;
        right: -400px;
        top: -100px;
        width:800px;
        height: 800px;
        border-radius: 50%;
        opacity: 0.7;
    } 
  
    .satr ul  h1{
        font-size: 1.3rem;
        font-weight: 700;
        z-index: 3;
        position: relative;
    }
    .satr ul li{
        font-weight: 700;
        margin: auto;
        font-size: 15px;
        z-index: 3;
        position: relative;
    }
    #images{
        position: absolute;
        height: 500px;
     
    }
    .satr{
        width: 100vw;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #2f2f2f7e;
        z-index: 23;
    }
    .myButton{
        font-size: 15px; 
        width: 96%;
        left: 1%;
        bottom: 10%;
    padding: 10px; }
    .myButton img{
        margin-left: 10px;
        margin-right:10px ;
        width: 20px;
    }
    #images{
        position: absolute;
        height: 400px;
        bottom: 200px;
        right: -100px;
        z-index: 234;
    }
}
@media (max-width:420px){
    .myButton{
        font-size: 10px; 
        width: 96%;
        left: 1%;
        bottom: 10%;
    padding: 7px; }
    .myButton img{
        margin-left: 7px;
        margin-right:7px ;
        width: 12px;
    }    
}
@keyframes headerbutton{
    from {position: relative;left: 0px;}
    50% {position: relative;left: -30px;} 
    to {position: relative;left: 0px;} 
}
@keyframes headerbutton2{
    from {position: relative;right: 0px;}
    50% {position: relative;right: -30px;} 
    to {position: relative;right: 0px;} 
}

/* mativatsiyaa */
.mativatsiya h1{
margin: auto;
text-align: center;
margin-top: 40px;
font-size: 40px; 
}
.chet{
    margin: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.chet .kard{
 color:#2F2F2F;
 background: #F3F0F0;
 padding: 20px;
 box-shadow: 0px 4px 4px  #00000040;
 backdrop-filter: blur(4px);
 border-radius: 85px;
 margin: 20px;
}
.chet .kard:hover{
animation-iteration-count: 1;
animation-duration: 1s;
animation-name:ani;
background: #FAC819;
scale: 1.05;
backdrop-filter: blur(4px);
   }

   .kard h2{
font-size: 25px;
   }
   .rasn{
       height: 100px;
   }
   .kard p{
font-size: 15px;
opacity: 0.9;
   }
   @keyframes ani{
    from {background-color: white;transform: scale(1); }
    to {background-color: #FAC819;transform: scale(1.02);} 
}
   @media (min-width:991px) and  (max-width:1460px)  {
    .kard h2{
        font-size: 12px;
           }
           .kard p{
        font-size: 10px;
           }
           .rasn{
            height: 60px;
        }
   }
   @media(max-width:560px){
       .kard{
           width: 92%;
           margin: 0px;
           padding: 0px;
       }
    .kard h2{
        font-size: 15px;
           }
           .kard p{
        font-size: 12px;
           }
           .rasn{
            height: 80px;
            width: 80px;
        }
      
   }






   /* Наши принципы преподавания */
   .asos2{
       background-color: #2F2F2F;
   }
   .asos2 h1{
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;   
    }
    .asos2 .rov2{
        margin: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .asos2 .text2{
        color: white;
        font-size: 18px;
    }
    .asos2 .img2{
        width: 100%;
    }


    @keyframes animatsiya{
        from {transform: scale(0.9);}
        50%  {transform: scale(1);} 
        to   {transform: scale(0.9);}   
    }

    @keyframes animatsiya1{
        from {transform: scale(1);opacity: 0.7;}
        50%  {transform: scale(1.2);opacity: 1;} 
        to   {transform: scale(1);opacity: 0.7;}   
    }
    @media (max-width:500px) {
        .mativatsiya h1{
            margin: auto;
            font-size: 1.3rem;
            text-align: center;
            margin-top: 40px;
            
            } 
           
        
    }

  .xarita_oynasi{
      display: flex;
      padding: 30px;
      width: 100%;
      background:#2F2F2F;
    color: white; }
  .map1{
      width: 50%;
     
  }
  .manzil{
      padding: 30px;
      width: 50%;
      font-size: 30px;
      min-height: 300px;
  }
  .ahref{
      text-decoration: none;
      margin: 30px;
  }
  @media (max-width:991px) {
    .xarita_oynasi{
        display: block;
        padding: 30px;
        width: 100%;
    }
    .map1{
        width: 100%;
       
    }
    .manzil{
        padding: 25px;
        padding-bottom: 0px;
        width: 100%;
        font-size: 25px;
    }
  }