

body{
    overflow-x: hidden;}


/* navbar qismi */
.tel{
    z-index: 1011001;
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    justify-content: center;
    position: fixed;
    right: 30px;
    bottom: 50px;
    background-color:black;
    animation: animatsiya1 2s ease;
    animation-iteration-count: infinite;
    padding: 8px;
    border-radius: 50%;
    font-size: 20px;
}
.navbar{ position: fixed;
    left: 3%;
    top: 10px;
    width: 94%;
    background-color:rgba(255, 255, 255, 0.584);
   
    backdrop-filter: blur(20px);
    border-radius: 40px;
z-index: 121;
}
img{
    right: 0;
}
.myButton{
    display: block;
    text-decoration: none;
  border-radius: 50px;
    border: none;
    background-color: rgb(120, 35, 163);
    color:white;
    padding: 20px 50px;
    margin-top: 50px;
    font-size: 20px;
    transition: all .3s ease-in-out;
    animation: animatsiya 2s ease;
    animation-iteration-count: infinite;
}

.navicon{
    font-size: 30px;
    width: 200px;
    display: flex;
  
}
.navicon>*{
    margin-left: 18px;
  color: black;
}
.navicon>* :hover{
    cursor: pointer;
    scale: 1.09;
color: orange;
     

}
.brend{
    margin: 10px;
    margin-left: 10%;
    height: 50px;
}
@media (max-width:1200px){
    .brend{
        margin: 10px;
        margin-left: 10%;
        height: 60px;
      
    }
    .navicon a{
        font-size: 20px;
        width: 200px;
        display: flex;
      
    }
    #sahifa{
        margin: auto;
        text-align: center;
        font-size:15px;
        
    }  
}

#sahifa{
    margin: auto;
    text-align: center;
    font-size:20px;
    
}
#bolim{
    margin-left: 5px;
    color: black;
    
}
#bolim:hover{
    cursor: pointer;
    scale: 1.05;
    text-shadow: 0px 0px 10px  #fa7704;
}
@media (max-width:991px){
    .myButton{
        margin: auto;
        text-align: center;
        align-items: center;
        display: block;
        text-decoration: none;
        border-radius: 30px;
        border: none;
        background-color: rgb(120, 35, 163);
        color: white;
        padding: 20px 50px;
        margin-top: 50px;
        font-size: 14px;
        transition: all .3s ease-in-out;
    }
  
    #sahifa{
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        font-size:23px;
        
    }
    .navicon { 
    margin: auto;
    text-align: center;
    font-size: 30px;
    position: relative;
        left: 15px;
}
.navicon a{ 
    margin: auto;
    text-align: center;
    font-size: 30px;
    position: relative;
        left: 15px;
}
#bolim{
    margin-left: 0px;
    color: black;
    
}
}

@media (max-width:500px){
    .myButton{
        margin: auto;
        text-align: center;
        align-items: center;
        display: block;
        text-decoration: none;
        border-radius: 30px;
        border: none;
        background-color: rgb(120, 35, 163);
        color: white;
        padding: 10px 10px;
        margin-top: 30px;
        font-size: 10px;
        transition: all .3s ease-in-out;
    position: relative;
    left: -40px;
    }
  
    #sahifa{
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        font-size:20px;
        
    }
    .navicon { 
    margin: auto;
    text-align: center;
    font-size: 20px;
    position: relative;
        left: 15px;
}
.navicon a{ 
    margin: auto;
    text-align: center;
    font-size: 20px;
    position: relative;
        left: 15px;
}
#bolim{
    margin-left: 0px;
    color: black;
    
}
.brend{
    height: 40px;
}
}








/* header qismi */
header{
background:#2F2F2F;  
    width: 100vw;
    height: 950px;
    position: relative;
    overflow: hidden;
   
}
#images{
    position: absolute;
    height: 700px;
    bottom: 100px;
    right: 100px;
    z-index: 2;
}
.satr{
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}
.satr ul {
   
    display: block;
    margin: auto;
    margin-left: 100px;
    z-index: 12;
}
.satr ul  h1{
    font-size: 4rem;
    font-weight: 700px;
}
.satr ul li{
   
    margin: auto;
    font-size: 25px;
}
header .aylana{
    z-index: 1;
    position: absolute;
    right: -200px;
    top: -200px;
    background-color: #edd168;
    width: 900px;
    height: 900px;
    border-radius: 50%;
}
@media (max-width:1840px) {
    header{
        background:#2F2F2F;  
            width: 100vw;
            height: 850px;
            position: relative;
            overflow: hidden;
        }
    header .aylana{
        z-index: 1;
        position: absolute;
        right: -200px;
        top: -200px;
        background-color: #edd168;
        width: 900px;
        height: 900px;
        border-radius: 50%;
    } 
    .satr ul  h1{
        font-size: 4rem;
        font-weight: 700px;
        z-index: 3;
    }
    .satr ul li{
       
        margin: auto;
        font-size: 25px;
        z-index: 3;
    }
    #images{
        position: absolute;
        height: 700px;
        bottom: 80px;
        right: 80px;
        z-index: 2;
    }
}
@media (max-width:1640px) {
    header{
        background:#2F2F2F;  
            width: 100vw;
            height: 800px;
            position: relative;
            overflow: hidden;
        }
    header .aylana{
        z-index: 1;
        position: absolute;
        right: -200px;
        top: -200px;
        background-color: #edd168;
        width: 900px;
        height: 900px;
        border-radius: 50%;
    } 
    .satr ul  h1{
       
        font-size: 3.5rem;
        font-weight: 700px;
        z-index: 3;
    }
    .satr ul li{
       
        margin: auto;
        font-size: 20px;
        z-index: 3;
    }
    #images{
        position: absolute;
        height: 550px;
        bottom: 80px;
        right: 80px;
        z-index: 2;
    }
}
@media (max-width:1340px) {
    header{
        background:#2F2F2F;  
            width: 100vw;
            height: 800px;
            position: relative;
            overflow: hidden;
        }
    header .aylana{
        z-index: 1;
        position: absolute;
        right: -200px;
        top: -200px;
        background-color: #edd168;
        width:700px;
        height: 700px;
        border-radius: 50%;
    } 
    .satr ul  h1{
        font-size: 3.5rem;
        font-weight: 700px;
        z-index: 3;
    }
    .satr ul li{
       
        margin: auto;
        font-size: 20px;
        z-index: 3;
    }
    #images{
        position: absolute;
        height: 450px;
        bottom: 30px;
        right: 30px;
        z-index: 2;
    }
    .satr{
   position: relative;
   left: 5%;
        width: 70%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
    }
}
@media (max-width:991px) {
    header{
        
            height: 600px;
            
        }
    header .aylana{
        z-index: 1;
        position: absolute;
        right: -200px;
        top: -200px;
        background-color: #edd168;
        width:700px;
        height: 700px;
        border-radius: 50%;
    } 
    .satr ul  h1{
        font-size: 2rem;
        font-weight: 700px;
        z-index: 3;
    }
    .satr ul li{
       
        margin: auto;
        font-size: 15px;
        z-index: 3;
    }
    #images{
 display: none;
    }
    .satr{
        left: 0px;
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
    }
}
@media (max-width:576px) {
    header{
        background:#2F2F2F;  
            width: 100vw;
            height: 600px;
            position: relative;
            overflow: hidden;
        }
    header .aylana{
        z-index: 1;
        position: absolute;
        right: -200px;
        top: -200px;
        background-color: #edd168;
        width:700px;
        height: 700px;
        border-radius: 50%;
    } 
    .satr ul  h1{
        font-size: 1.8rem;
        font-weight: 700px;
        z-index: 3;
        position: relative;
        left: -60px;
    }
    .satr ul li{
        margin: auto;
        font-size: 15px;
        z-index: 3;
        position: relative;
        left: -60px;
    }
    #images{
        position: absolute;
        height: 400px;
        bottom: 30px;
        right: 30px;
        z-index: 2;
    }
    .satr{
   
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: white;
    }
}



/* mativatsiyaa */
.mativatsiya h1{
margin: auto;
text-align: center;
margin-top: 40px;
font-size: 40px; 
}
.chet{
    margin: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.chet .kard{
 color:black;
 background-color: rgba(255, 255, 255, 0.342);
 padding: 20px;
}
.chet .kard:hover{
    color:white;
    background-color: #2F2F2F;
    border-radius: 15px;
    scale: 1.1;
    border-radius: 10px;
   }
   .kard h2{
font-size: 25px;
   }
   .rasn{
       width: 80px;
   }
   .kard p{
font-size: 15px;
opacity: 0.9;
   }
   @media (min-width:991px) and  (max-width:1460px)  {
    .kard h2{
        font-size: 15px;
           }
           .kard p{
        font-size: 12px;
           }
           .rasn{
            width: 60px;
        }
   }
   @media(max-width:560px){
       .kard{
           width: 100%;
           margin: 0px;
           padding: 0px;
       }
    .kard h2{
        font-size: 15px;
           }
           .kard p{
        font-size: 12px;
           }
           .rasn{
            width: 80px;
        }
   }






   /* Наши принципы преподавания */
   .asos2{
       background-color: #2F2F2F;
   }
   .asos2 h1{
    margin: auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;   
    }
    .asos2 .rov2{
        margin: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .asos2 .text2{
        color: white;
        font-size: 18px;
    }
    .asos2 .img2{
        width: 100%;
    }


    @keyframes animatsiya{
        from {transform: scale(0.9);}
        50%  {transform: scale(1);} 
        to   {transform: scale(0.9);}   
    }

    @keyframes animatsiya1{
        from {transform: scale(1);opacity: 0.7;}
        50%  {transform: scale(1.2);opacity: 1;} 
        to   {transform: scale(1);opacity: 0.7;}   
    }
    @media (max-width:500px) {
        .mativatsiya h1{
            margin: auto;
            font-size: 1.8rem;
            text-align: center;
            margin-top: 40px;
            
            } 
            .rasn{
                width: 40px;
            }
        
    }
  .button1{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .maktab1{
      border:2px solid red;
      width:33%;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
  }