.box{
    background-color: #2F2F2F;
    margin-bottom: 100px;
}
.mains, .boxText{
    margin: 0 auto;
    max-width:85%;
}
.mains, .coloryellow{
    
    background: #FAC819;
    border-radius: 55px;
}
.headingTitle, .section h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
   
}

.headingTitle{
padding-top: 260px;
margin-bottom: 100px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.mains{
   
    
    border-top-right-radius: 124px;
    border-bottom-right-radius: 124px;
}
.headingName{   
margin:50px 0 0 66px;
width: 99%;
}
.headingName h4{
    text-align: center;
}
.imgshadow{
    position: relative;
    text-align: end;
   
}
.boxshadow{
    width: 628px;
    height: 369px;
    background: rgba(62, 59, 85, 0.85);
    filter: blur(45px);
    border-radius: 61px;
    margin-left: 95px;
}
.imgsjavascript{
    position: absolute;
margin-left: 100px;
width: 657px;
height: 369px;
top:0;

}
.headingName h2,
.headingName p{

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: -0.02em;
padding:0px 9px 7px 5px;
color: #2F2F2F;
}
.headingName p{
    margin-top:40px;
    text-align: justify;
}
p .texts{
    display: block;
   text-align: center;
}


/* 2-BOLIM */
.section h2{
    margin: 120px 0 140px;
}
.chapmushakimg, .ongmushakimg{
    width: 41px;
height: 41px;
margin-bottom: 30px;
}
 .coloryellow{

     text-align: center;
 }