.box{
    background-color: #2F2F2F;
    margin-bottom: 100px;
}
.mains,
 .boxText,
  .bizningJava{
    margin: 0 auto;
    max-width:85%;
}
.mains, 
.coloryellow, 
.bizningJavaBolim{
    background: #f0b410d2;
    border-radius: 55px;
}

.headingTitle, 
.section h2,
.bizningJava h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;   
}

.headingTitle{
padding-top: 260px;
margin-bottom: 100px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.headingName{   
margin:50px 0 0 66px;
width: 99%;

}
.headingName h4{
    text-align: center;
    box-sizing: border-box;
}
.imgshadow{
    text-align: end;
}

.imgsjavascripts{
    border-radius: 45px;
    position: absolute;
    filter: blur(20px);
background-color: #1E1A38;
width: 100%;
right: 0px;
height: 100%;
margin-left: 30px;


}
.imgsjavascript{
    position: relative;
    left: 10px;
max-width: 100%;
max-height: 100%;
margin-left: 30px;


}


.headingName h4,
.headingName span{
font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
max-width: 900px;
padding:0px 9px 7px 5px;
color: #2F2F2F;
}
.headingName span{
    margin-top:40px;
    text-align: justify;
    padding: 0 20px 30px 0;
}



/* 2-BOLIM */

.section h2{
    margin: 120px 0 140px;
}
.chapmushakimg,
 .ongmushakimg{
width: 41px;
height: 41px;
margin-bottom: 30px;
}
.coloryellow {
    text-align: center;
    padding: 20px 14px 22px;
    margin-bottom: 20px;
}
.coloryellow img{
    text-align: center;
    width: 62px;
    height: 62px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.coloryellow h4{
    font-weight: 700;
}
 .coloryellow p,
 .coloryellow h4,
 .bizningJavaBolim h4,
.bizningJavaBolim p{
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    color: #000000; 
 }

 /*3-bolim  */

 .bizningJava{
     padding: 48px 32px 48px 47px;
     text-align: center; 
background: rgba(225, 222, 222, 0.65);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
filter: blur(0.5px);
backdrop-filter: blur(4px);
border-radius: 55px;
margin-top: 98px;
 }
.bizningJava h2{
    margin-bottom: 113px;
}
.bizningJavaBolim{
    min-height: 250px;
padding: 8px 17px;
margin-bottom: 50px;
    margin-right:20px;
    margin-left: 50px;
}
#bizningJavaBolimChild{
    margin-right: 50px;
    margin-left: 50px;
}
.bizningJavaBolim img{
    width: 50px;
    height: 50px;
    margin-bottom: 12px;
}
.bizningJavaBolim h4{
    font-weight: 700;
}
