.cuorse{
    padding: 40px 0 10px;
    background-color:rgb(92, 22, 133);
}
.kurs{
    width: 80%;
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
}
.cuorse h1{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    font-family: serif;
    color: white;
}
.cuorse span{
    color: rgb(255, 136, 0);
}
 .kurs .kursImg{
    min-height: 250px;
    width: 85%;
    margin: -50px auto 0;
    
}
.rows{
    margin-top: 200px;
}
.icons{
font-size: 30px;
padding-right: 10px;
}
.kursCard{
    position: relative;
   display: flex;
   height: 90%;
   width: 90%;

   margin-bottom: 90px;
   min-height: 600px;
   justify-content: center;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);

}

.kurscol{
    margin: 0 auto;
    text-align: center;
}
.kursCard .textyellow{
    color: rgb(255, 217, 0);
}
.kursCard .title{
    font-size: 23px;
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing:1px;
}
.kursCard p{
    font-size: 17px;
    text-align:justify;
    cursor: pointer;
    font-weight: 500;
    line-height: 25px;
    padding: 0 5px;
    font-family: sans-serif;
}
.kursCard a{
    text-decoration: none;
    background-color:violet;
    padding: 15px 20px;
    border-radius: 20px;
    margin: 30px auto;
    color: white;
    font-size: 18px;
    width: 40%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    
}
.icon{
    padding-right:6px;
}
@media (max-width:1700px) {
    .cuorse h1{
        font-size: 60px;
    }
    .kursCard p{
        font-size: 16px;
    }
    .kursCard a{
        font-size: 15px;
        width: 40%;
    }
}
@media (max-width:1549px) {
    .kursCard a{
        width: 45%;
    }
}
@media (max-width:1500px) {
    .cuorse h1{
        font-size: 55px;
    }
    .kursCard a{
        font-size: 15px;
        width: 47%;
    }
}
@media (max-width:1350px) {
    .kursCard a{     
        width: 57%;
    }
}
@media (max-width:1200px) {
    .cuorse h1{
        font-size: 50px;
    }
    .kurs{
        margin: 0 auto; 
    }
    .kursCard a{
        font-size: 15px;
        width: 60%;
    }
    .kursCard p{
        font-size: 15px;
    }
    .kurs .kursImg{
        height: 200px;
        width: 85%;   
    }
}
@media (max-width:1092px) {
    .kursCard p{
        font-size: 12px;
    }
    .kursCard a{
        width: 65%;
    } 
}
@media (max-width:992px) {
    .cuorse h1{
        font-size: 50px;
    }
     .kurs{
        margin: 0 auto; 
        width: 70%;
    }
    .kursCard a{
        font-size: 13px;
        width: 70%;
    }
    .kursCard p{
        font-size: 14px;
        text-align:unset; 
    }
   
    .kurs .kursImg{
        height: 250px;
        width: 85%;   
    }
}

@media(max-width:678px) {
    .cuorse h1{
        font-size: 30px;
    }
    .kursCard p{
        font-size: 12px;
       
    }
    .kurs{
        width: 70%;
       
    }
    .kursCard a{
        font-size: 15px;
        width: 40%;
    }
    .kurs .kursImg{
        height: 250px;
        width: 85%;   
    }
    }
  
@media (max-width:1400px){
    .kursCard{
        display: flex;
        margin-bottom: 90px;
        min-height: 650px;
        justify-content: center;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
position: relative;
     }
     .kursCard .title{
        font-size: 18px;
        font-weight: 600;
        font-family: sans-serif;
        letter-spacing:1px;
    }
    .kursCard p{
        font-size: 13px;
        text-align:justify;
        cursor: pointer;
        font-weight: 500;
        line-height: 25px;
        font-family: sans-serif;
    }
    .kursCard a{
        text-decoration: none;
        background-color:violet;
        padding: 15px 20px;
        border-radius: 20px;
        margin: 30px auto;
        color: white;
        font-size: 13px;
        display: flex;
        position: absolute;
        left: 30%;
        bottom: 20px;
        justify-content: center;
        width: 40%;
        font-family: sans-serif;
    }
}
@media (max-width:991px){
    .kursCard{
        display: flex;
        margin-bottom: 90px;
        min-height: 550px;
        justify-content: center;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
position: relative;
     }
     .kursCard .title{
        font-size: 18px;
        font-weight: 600;
        font-family: sans-serif;
        letter-spacing:1px;
    }
    .kursCard p{
        font-size: 13px;
        text-align:justify;
        cursor: pointer;
        font-weight: 500;
        line-height: 25px;
        font-family: sans-serif;
    }
    .kursCard a{
        text-decoration: none;
        background-color:violet;
        padding: 15px 20px;
        border-radius: 20px;
        margin: 30px auto;
        color: white;
        font-size: 13px;
        display: flex;
        position: absolute;
        left: 30%;
        bottom: 20px;
        justify-content: center;
        width: 40%;
        font-family: sans-serif;
    }
}