*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

.main{
   background-color: #9727af;
}
.boxNash{
width:80%;
margin: 0 auto;
}
.boxNash1{
   width:80%;
   margin: 0 auto;
   }

.title{
   color: #fff;
   text-shadow: 2px 8px 0 rgb(49, 28, 28);
   margin: 50px 0;
   text-align: center;
}
.counter{
   background: radial-gradient(#353535, #252525);
   color: white;
   text-align: center;
   padding: 70px 0;
}
.counter_item{
   padding: 50px 0;
}

.counter_number{
   margin: 0;
   font-size: 56px;
   font-weight: 600;
}
.counter_plus{
   font-size: 40px;
   color: rgb(255, 136, 0);
   display: inline-block;
}
.counter_text{
   color: #7f7f7f;
   margin: 0;
}
.title span{
   color: rgb(255, 136, 0);
}
.text {
   padding: 30px;
}
.text p{
   color: white;
   font-size: 19px;
   font-weight: 200;
  
}
 .mainBox #img{
    width: 90%;
    margin: 40px 0;
    border:30px solid #D22779;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.leftCard, .rightCard{
   text-align: center;
   margin-bottom: 100px;
   padding: 30px;
}
.leftCard img,
.rightCard img{
height: 90px;
}
.leftCard h4,
.rightCard h4{
   color: #fff;
}
.leftCard p,
.rightCard p{
   color: rgb(161, 160, 155);
   font-size: 20px;
  
}

/* Codecraf */
.codecraf{
   text-align: center;
   margin-bottom: 120px;
}
.codecrafMain .title{
   color: black;
  text-shadow: none;
}
.codecraf img{
height: 90px;

}
.boxNash p{
   font-size: 17px;
   opacity: 0.96;
   font-weight: 600;
   color: white;
}
.boxNash1 p{
   font-size: 17px;
   opacity: 0.96;
   font-weight: 600;
   color: black;
}
 @media(max-width:1700px) {
   .mainBox .img{
      width: 90%;
      margin: 100px 0 40px;
  }
 }
@media(max-width:1400px){
   .mainBox .img{
      width: 90%;
      margin: 30px 0 40px 38px;
  }
}
@media(max-width:992px){


.counter_number{
   margin: 0;
   font-size: 36px;
   font-weight: 600;
}
.counter_plus{
   font-size: 20px;
   color: rgb(255, 136, 0);
   display: inline-block;
}
.counter_text{
   color: #7f7f7f;
   margin: 0;
}
}
@media(max-width:678px) {
   .title{
      font-size: 30px;
   }
  
   .mainBox .img{
      margin: 30px;
   } 
   .boxNash p{
      font-size: 15px;
     
   }
   .boxNash p{
      font-size: 15px;
   }
   .counter_number{
      margin: 0;
      font-size: 26px;
      font-weight: 600;
   }
   .counter_plus{
      font-size: 15px;
      color: rgb(255, 136, 0);
      display: inline-block;
   }
   .counter_text{
      color: #7f7f7f;
      margin: 0;
   }

}
@media(max-width:400px) {
   .title{ 
      font-size: 25px;   
   }
  
   .mainBox .img{
      width: 100%;
      margin: 30px;
   } 
   .boxNash p{
      font-size: 13px;
     
   }
   .boxNash1 p{
      font-size: 13px;
     
   }
   
}

