.hammasi1{
    background-color: #2F2F2F;
    padding: 20px;
}

.row1{
    margin: 40px;
}
.xabarBtn{
    background-color: rgb(120, 35, 163);
    border: none;
    padding: 12px 90px;
    border-radius: 50px;
}
.xabarBtn:hover{
    background-color: rgb(120, 35, 163);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.title{
    font-size: 40px;
    color:white;
    padding: 50px 0;
    text-align: center;
   
 }
 .title span{
    color: #edd168;
 }
 .asosiy1{
     display: flex;
 }
 .uchtalik1{ 
     
      position: relative;
     padding: 10px;
     padding-right: 70px;
     display: block;
 }
 .as{border-radius: 10px;
background-color: white;
padding: 40px;
margin-bottom: 40px;
 }
.robit{
   position: absolute;
     right:-85px;
     top: 4px;
 }
 .rasm1{
     width: 60px;
     margin: 10px;
     margin-top: 0px;
 }
 .ikkitalik1{
     width: 80%;
     font-size: 18px;
     color: white;
 }
 .rasm3{
     width: 200px;
     height: 50px;
     border-radius: 30px;
     background-color:#9727af;
 }
#df:hover{
    animation: animatsiya 2s ease;
    animation-iteration-count: infinite;
}
#dd{
    animation: aaa 2s ease;
    animation-iteration-count: infinite;
}

@keyframes animatsiya{
    from {transform: scale(1);}
    50%  {transform: scale(1.2);} /* ignored */
    to   {transform: scale(1);}   
}
@media(max-Width:600px){
    .xabarBtn{
        background-color: rgb(120, 35, 163);
        border: none;
        padding: 8px 15px;
        margin: auto;
        text-align: center;
        border-radius: 20px;
    }
    .uchtalik1{ 
     
        position: relative;
       padding: 10px;
       padding-right: 0px;
       display: block;
       margin: 0px;
   }
    
.title{
    font-size: 27px;
    color:white;
    padding: 20px 0;
    text-align: center;
   
 }
 .title span{
    color: #edd168;
 }
 .as{border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin-bottom: 40px;
     }
     .robit{
      display: none;
     }
     .rasm1{
         width: 40px;
         margin: 10px;
         margin-top: 0px;
     }
     .ikkitalik1{
         width: 95%;
         font-size: 12px;
         color: white;
     }
     .rasm3{
         width: 80px;
         height: 40px;
         border-radius: 30px;
         background-color:#9727af;
     }
     .row1{
        margin: 40px; 
          margin-left: 5px;
          margin-right: 5px;
    }
 
}
@keyframes aaa {
    0%{transform: rotateX(0deg);}
    20%{transform: rotateX(60deg);}
    40%{transform: rotateX(80deg);}
    60%{transform: rotateX(100deg);}
    80%{transform: rotateX(120deg);}
    100%{transform: rotateX(130deg);}
}